<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/vr_headset_1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vr_headset_1"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileVRLabApp"
        tools:targetApi="31">
        <activity
            android:name=".screens.activities.HeadsetStatusActivity"
            android:exported="false"
            android:label="Headset Status Activity"
            android:theme="@style/Theme.MobileVRLabApp" />
        <activity
            android:name=".screens.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.activities.ConfigureActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".screens.activities.VrExperienceActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
    </application>

</manifest>